fastapi
uvicorn[standard]
sqlalchemy
greenlet
pydantic
email-validator
python-multipart
pillow
pytesseract
python-dotenv
aiofiles
aiosqlite
httpx
requests
PyJWT==2.10.1
pwdlib[argon2]==0.2.1
google-auth==2.37.0
